.offers-intro {
    &__head-section {
        display: flex;
        flex-direction: column;
        justify-content: center;
        background-color: $color-midStrongGreyBack;
        height: 300px;
        padding: 20px;
        color: $color-white;
        h1 {
            margin-top: 20px;
            @include desktop {
                margin: 0 auto 0 auto;
                width: 1170px;
            }
        }
        h5 {
            color: $color-white;
            font-weight: 300;
            @include desktop {
                margin: 0 auto 20px auto;
                width: 1170px;
            }
        }
    }
    &__breadcrumbs-container {
        position: relative;
        width: 100%;
        @include desktop {
            margin: 0 auto 20px auto;
            max-width: 1420px;
        }
    }
    &__breadcrumbs {
        position: absolute;
        right: 0px;
        top: 50px;
        text-align: center;
        background-color: $color-white;
        padding: 15px 25px;
        height: auto;
        color: black;
        font-weight: 500;
        font-size: 16px;
        line-height: 18px;
        letter-spacing: -0.5px;
        :first-child {
            font-family: $arch-font;
            color: black !important;
        }
        :last-child {
            color: $color-beish;
        }
        a {
            text-decoration: none;
            line-height: 2.5;
            font-weight: 600;
            cursor: pointer;
        }
        a:hover {
            text-decoration: underline;
        }
    }
    &__cards {
        margin-top: 30px;
        padding: 20px;
    }
    &__offer-card {
        margin-bottom: 40px;
    }
    &__offer-card-image {
        @include desktop {
            margin: 0 auto;
            max-width: 1170px;
            height: 570px;
        }
        img {
            object-fit: cover;
            width: 100%;
            height: 200px;
            opacity: 0.8;
            @include desktop {
                height: 570px;
            }
        }
    }
    &__offer-card-image-price-offer {
        margin-right: 20px;
        text-align: right;
        position: relative;
        bottom: 110px;
        @include desktop {
            max-width: 1050px;
            margin: 0 auto;
            padding: 40px;
            z-index: 10;
            bottom: 60px;
        }
    }
    &__lined-price {
        span {
            text-decoration: line-through;
            text-decoration-thickness: 3px;
            color: $color-beish;
            font-size: 25px;
            text-shadow: 1px 1px 9px black;
            @include desktop {
                text-shadow: none;
            }
        }
        :last-child {
            font-size: 80%;
        }
    }
    &__red-price {
        span {
            color: #de5777;
            font-size: 35px;
            text-shadow: 1px 1px 9px black;
            @include desktop {
                text-shadow: none;
            }
        }
        :last-child {
            font-size: 100%;
        }
    }
    &__offer-card-body {
        @include desktop {
            position: relative;
            top: -60px;
            border-top: 6px solid $color-beish;
            background-color: #fff;
            box-shadow: none;
            @include desktop {
                padding: 40px;
            }
        }
        box-shadow: rgba(33, 35, 38, 0.1) 0px 10px 10px -10px;
        padding: 20px;
        margin-top: 20px;
        @include desktop {
            margin: 0 auto;
            max-width: 1050px;
        }
        h1 {
            margin-top: 20px;
            @include desktop {
                padding-bottom: 30px;
                border-bottom: 1px solid $color-verySoftGrey;
            }
        }
        p {
            margin-top: 20px;
            text-align: justify;
            line-height: 30px;
            color: $color-softGreyText;
            @include desktop {
                padding-top: 10px;
                width: 55%;
                float: left;
            }
        }
    }
    &__offer-card-body-services {
        @include desktop {
            width: 45%;
            padding-left: 5%;
        }
        margin-top: 20px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        img {
            object-fit: scale-down;
            width: 16px;
            height: 16px;
            margin-top: 15px;
        }
        span {
            margin-left: 8px;
            font-family: $robo-font;
            font-size: 14px;
            font-weight: 500;
            color: $color-softGreyText;
        }
    }
    &__offer-card-body-services-left {
        width: 50%;
        display: flex;
        flex-direction: column;
    }
    &__offer-card-body-services-right {
        width: 50%;
        display: flex;
        flex-direction: column;
    }
    &__button {
        margin-top: 40px;
        @include desktop {
            margin-top: 20px;
        }
    }
}
