<IfModule mod_rewrite.c>
	RewriteEngine On
	RewriteBase /
	RewriteRule ^index$ index.php [L]
	RewriteRule ^about-us$ about-us.php [L]
	RewriteRule ^contact$ contact.php [L]
	RewriteRule ^offers$ offers.php [L]
	RewriteRule ^rooms$ rooms.php [L]
	RewriteRule ^rooms_details$ room-details.php [L]
	RewriteEngine on
	RewriteCond %{REQUEST_FILENAME} !-d
	RewriteCond %{REQUEST_FILENAME}.php -f
	RewriteRule ^(.*)$ $1.php [L]
</IfModule>
