/* Color variables */
$color-beish: #bead8e;
$color-white: #ffffff;
$color-midStrongGreyBack: #333333;
$color-strongGreyBack: #111111;
$color-strongerGreyBack: #222222;
$color-grey-transparent: #22222280;
$color-ligthGrayDisable: #686868;
$color-softGrayBackground: #f9f9f9;
$color-verySoftGrey: #c2c2c2;
$color-softGreyText: #777777;
$color-softGreyText1: #999999;
$color-blackCardBack: #292929;
$color-verySoftGrey: #bdbdbd;
$color-redDiscount: #de5777;

/* Screen media variables */
$large: 960px;
$xtra-large: 1280px;

/* Fonts */
$old-font: "Old Standard TT";
$arch-font: "Archivo";
$robo-font: "Roboto";

/* Fonts weigth */
$soft-weight: 400;
$strong-weight: 700;

/* Fonts sizes */
$small-font: 14px;
$smallPlus-font: 16px;
$mid-font: 30px;
$midPLus-font: 36px;
$big-font: 56px;
