.room-details-intro {
    &__head-section {
        display: flex;
        flex-direction: column;
        justify-content: center;
        background-color: $color-midStrongGreyBack;
        height: 300px;
        padding: 20px;
        color: $color-white;
        h1 {
            margin-top: 20px;
            @include xl {
                margin: 0 auto 0 auto;
                width: 1170px;
            }
        }
        h5 {
            color: $color-white;
            font-weight: 300;
            @include xl {
                margin: 0 auto 20px auto;
                width: 1170px;
            }
        }
    }
    &__breadcrumbs-container {
        position: relative;
        width: 100%;
        @include desktop {
            margin: 0 auto 20px auto;
            max-width: 1420px;
        }
    }
    &__breadcrumbs {
        position: absolute;
        right: 0px;
        top: 50px;
        text-align: center;
        background-color: $color-white;
        padding: 15px 25px;
        height: auto;
        color: black;
        font-weight: 500;
        font-size: 16px;
        line-height: 18px;
        letter-spacing: -0.5px;
        :first-child {
            font-family: $arch-font;
            color: black !important;
        }
        :last-child {
            color: $color-beish;
        }
        a {
            text-decoration: none;
            line-height: 2.5;
            font-weight: 600;
            cursor: pointer;
        }
        a:hover {
            text-decoration: underline;
        }
    }
    &__room-details {
        @include xl {
            position: relative;
            display: flex;
            flex-direction: row;
            height: 960px;
        }
        padding: 20px;
        img {
            margin-top: 16px;
            width: 100%;
            @include xl {
                width: 770px;
            }
        }
        h4 {
            margin-top: 28px;
            @include xl {
                margin-left: 49px;
                color: #777;
                font-family: Archivo;
                font-size: 14px;
                font-style: normal;
                font-weight: 700;
                line-height: normal;
                letter-spacing: 2.8px;
                text-transform: uppercase;
            }
        }
        h1 {
            margin-top: 12px 0 16px 0;
            @include xl {
                color: #222;
                font-family: Old Standard TT;
                font-size: 48px;
                font-style: normal;
                font-weight: 400;
                line-height: 48px; /* 100% */
                letter-spacing: -1.44px;
                margin: 40px 0 0 49px;
            }
        }
        @include xl {
            max-width: 1170px;
            margin: 0 auto;
        }
    }
    &__room-details-text-wrapper {
        @include xl {
            position: relative;
            top: 100px;
            width: 730px;
            height: 146px;
            background-color: #fff;
            :nth-child(3) {
                color: #bead8e;
                text-align: right;
                font-family: Archivo;
                font-size: 40px;
                font-style: normal;
                font-weight: 700;
                line-height: normal;
                position: absolute;
                right: 90px;
                top: 50px;
            }
            :nth-child(4) {
                color: #bead8e;
                font-family: Archivo;
                font-size: 16px;
                font-style: normal;
                font-weight: 700;
                line-height: normal;
                position: absolute;
                right: 40px;
                top: 70px;
            }
        }
    }
    &__rooms-details-availability {
        @include xl {
            margin-top: 90px;
        }
        padding: 20px;
        p {
            text-align: center;
            font-family: $arch-font;
            font-size: 18px;
            font-weight: 700;
            margin: 29px 0 35px 0;
        }
        label {
            font-size: 14px;
            color: #222;
            text-align: right;
            font-family: Archivo;
            font-size: 14px;
            font-style: normal;
            font-weight: 700;
            line-height: normal;
        }
        input {
            font-family: $arch-font;
            font-weight: 400;
            font-size: 14px;
            color: #777777;
            margin: 13px 0 19px 0;
            padding: 24px 29px 21px 24px;
            width: 100%;
            height: 60px;
            border: none;
        }
        input[type="text"] {
            background: #f8f8f8;
            background-position-y: 54%;
            background-position-x: 87.5%;
            background-size: 19px 19px;
            object-fit: contain;
        }
        input[type="date"] {
            position: relative;
            background: #f8f8f8;
            background-position-y: 54%;
            background-position-x: 87.5%;
            background-size: 19px 19px;
            object-fit: contain;
        }
        input[type="date"]::-webkit-calendar-picker-indicator {
            position: absolute;
            opacity: 1;
            display: block;
            background: url(../../../assets/images/date_picker_grey.png) no-repeat center;
            background-size: 19px 19px;
            background-position-x: right;
            width: 92%;
            height: 40px;
            object-fit: contain;
            @include xl {
                width: 86%;
            }
        }
        button {
            width: 100%;
            margin-bottom: 48px;
        }
    }
    &__body-text {
        p {
            text-align: left;
            font-family: $robo-font;
            font-size: 14px;
            font-weight: 400;
            line-height: 24px;
            color: $color-softGreyText;
        }
        @include xl {
            position: absolute;
            left: 20px;
            bottom: 0px;
            width: 700px;
            width: 770px;
            p {
                text-align: justify;
                color: #777;
                font-family: Roboto;
                font-size: 16px;
                font-style: normal;
                font-weight: 400;
                line-height: 24px;
            }
        }
    }
    &__amenities {
        padding: 0 20px 20px 20px;
        @include xl {
            margin: 0 auto;
            max-width: 1170px;
        }
    }
    &__amenities-services {
        padding-top: 10px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        img {
            object-fit: contain;
            width: 14px;
            height: 14px;
            margin-top: 15px;
        }
        span {
            margin-left: 8px;
            font-family: $robo-font;
            font-size: 14px;
            font-weight: 500;
            color: $color-softGreyText;
        }
    }
    &__amenities-services-left {
        width: 50%;
        display: flex;
        flex-direction: column;
        @include xl {
            width: 40%;
        }
    }
    &__amenities-services-right {
        padding-left: 20px;
        width: 50%;
        display: flex;
        flex-direction: column;
        @include xl {
            width: 60%;
        }
    }
    &__founder-container {
        @include xl {
            width: 1170px;
            margin: 40px auto;
        }
    }
    &__founder {
        @include xl {
            width: 370px;
            height: 456px;
            padding: 25px;
            box-shadow: 0px 14px 24px 0px rgba(190, 173, 142, 0.27);
        }
        text-align: center;
        width: 318px;
        margin: 0 auto;
        @include xl {
            margin: 0;
        }
        div {
            position: relative;
            width: 150px;
            margin: 0 auto;
            margin-top: 60px;
        }
        div :first-child {
            width: 46px;
            position: absolute;
            left: 85%;
            transform: translate(-50%);
        }
        div :last-child {
            width: 150px;
        }
        h4 {
            margin: 38px 0 15px 0;
            letter-spacing: -0.9px;
        }
        h5 {
            color: #bdac8d;
            font-size: 14px;
            letter-spacing: 2.8px;
        }
        p {
            line-height: 24px;
            margin-top: 25px;
            font-family: $arch-font;
            font-size: 16px;
            color: $color-softGreyText;
            margin-bottom: 40px;
        }
    }
    &__cancellation-container {
        @include xl {
            width: 1170px;
            margin: 0 auto;
        }
    }
    &__cancellation {
        @include xl {
            width: 770px;
        }
        padding: 20px;
        p {
            text-align: left;
            font-family: $robo-font;
            font-size: 14px;
            font-weight: 400;
            line-height: 24px;
            color: $color-softGreyText;
        }
        p {
            &:last-child {
                margin: 0 0 25px 0;
            }
        }
    }
}

hr {
    border: 0.1px solid #f1f1f1;
    margin-top: 14px;
    @include xl {
        width: 770px;
        margin-bottom: 25px;
    }
}

#input-details-name {
    background: url(../../../assets/images/contact/user.png), #f8f8f8;
    background-repeat: no-repeat;
    background-size: 20px;
    background-position-y: 50%;
    background-position-x: 95%;
}

#input-details-email {
    background: url(../../../assets/images/contact/email.png), #f8f8f8;
    background-repeat: no-repeat;
    background-size: 20px;
    background-position-y: 50%;
    background-position-x: 95%;
}

#input-details-phone {
    background: url(../../../assets/images/contact/telephon.png), #f8f8f8;
    background-repeat: no-repeat;
    background-size: 20px;
    background-position-y: 50%;
    background-position-x: 95%;
}

#input-details-special-request {
    background: url(../../../assets/images/contact/pen.png), #f8f8f8;
    background-repeat: no-repeat;
    background-size: 20px;
    background-position-y: 50%;
    background-position-x: 95%;
}
